<h3>Your Blogs</h3>
<hr>
<div class="table-responsive">
  <table class="table table-dark">
    <thead>
      <tr>Click on a blog title to edit</tr>
      <tr>
        <th scope="col">Blog ID</th>
        <th scope="col">Title</th>
        <th scope="col">Created at</th>
        <th scope="col">Last Updated at</th>
      </tr>
    </thead>
    <tbody>
        {{!-- iterate through users blogs here --}}
    {{#if loggedIn}}
    {{#each data as |blog|}}
      <tr>
        <th scope="row">{{blog.dataValues.blog_id}}</th>
        <td><a href='/api/post/editBlog/{{blog.dataValues.blog_id}}'>{{blog.dataValues.blog_title}}</a></td>
        <td>{{blog.dataValues.createdAt}}</td>
        <td>{{blog.dataValues.updatedAt}}</td>
      </tr>
      {{/each}}
      {{/if}}
       {{!-- end iterations --}}
    </tbody>
  </table>
</div>


<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Create New Blog</h5>

            <div class="card-footer py-3 border-3" style="background-color: #f8f9fa;">
            <div class="d-flex flex-column w-100">
              <div class="form-outline w-100">
                <textarea class="form-control" id="newBlogTitle" rows="1"
                  style="background: #fff;"></textarea>
                <label class="form-label" for="textAreaExample">title</label>
              </div>
              <div class="form-outline w-100">
                <textarea class="form-control" id="newBlogBody" rows="6"
                  style="background: #fff;"></textarea>
                <label class="form-label" for="textAreaExample">body</label>
              </div>
            </div>
          </div>
        <button class="btn btn-primary" id="postNew">Post</button>
      </div>
    </div>
  </div>
</div>

<script src="/dashboard.js"></script>